#root {
  /* padding: 2rem; */
  /* max-width: 1280px; */
  /* width: "100%"; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  font-family: sans-serif;
  height: 100vh;
}

.side-panel {
  width: 255px;
}
.main-content {
  flex: 1;
  padding: 5px;
}

th.Spreadsheet__header {
  background-color: #dde8ea;
  color: #746978;
  padding: 10px;
  font-weight: 550;
  letter-spacing: 1px;
  font-family: sans-serif;
}

tbody {
  color: #746978;
}
